.typebot-container {
    background-size: auto;
    background-color: rgb(11, 20, 26) !important;
    background-image: url("https://storage.afcode.com.br/typebot/public/workspaces/clnr64nj00001n21oaw5nat15/typebots/clnukf6x1005uqi1pkqwugbum/blocks/gb8zsntfouaaiaf03rhj4gnb?v=1697565363829") !important;
    position: relative !important;
}

.typebot-host-bubble {
    padding-right: 12px;
}

#checkIcon {
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    z-index: 99;
}

#checkIcon path:nth-child(1) {
    animation: 250ms ease 500ms 1 normal forwards running showIcon;
}

#checkIcon path:nth-child(2) {
    animation: 250ms ease 400ms 1 normal forwards running showIcon;
}

@keyframes showIcon {
    100% {
        stroke-dashoffset: 0;
    }
}

.typebot-chat-view > .flex:first-child {
    padding-top: 50px;
    padding-bottom: 50px;
}

.typebot-container {
    background-size: initial !important;
    background-repeat: repeat-x !important;
}

.typebot-host-bubble > .bubble-typing {
    border-radius: 0px 5px 5px;
}

.typebot-host-bubble > .bubble-typing::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 10px 10px 0px;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
    top: 0px;
    left: -10px;
}

.typebot-guest-bubble {
    position: relative;
    border-radius: 5px 0px 5px 5px;
}

.typebot-guest-bubble::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
}

.typebot-guest-bubble::after {
    border-width: 0px 0px 10px 10px;
    border-color: transparent transparent transparent rgb(225, 255, 199);
    top: 0px;
    right: -10px;
    border-style: solid;
}

iframe[src=""] {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    border: none;
    padding: 0px;
    margin: 0px;
    height: 100% !important;
}

a#lite-badge {
    display: none !important;
}

.typebot-input .typebot-button {
    content: "";
    background: rgb(0, 138, 134);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 0px;
    color: transparent;
}

.typebot-input .typebot-button::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" width=\"19px\"><path d=\"M476.59 227.05l-.16-.07L49.35 49.84A23.56 23.56 0 0027.14 52 24.65 24.65 0 0016 72.59v113.29a24 24 0 0019.52 23.57l232.93 43.07a4 4 0 010 7.86L35.53 303.45A24 24 0 0016 327v113.31A23.57 23.57 0 0026.59 460a23.94 23.94 0 0013.22 4 24.55 24.55 0 009.52-1.93L476.4 285.94l.19-.09a32 32 0 000-58.8z\" fill=\"white\"/></svg>");
}

.typebot-input .typebot-button .send-icon {
    display: none;
}

.disabled\:opacity-50:disabled {
    opacity: 1;
}



video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}

.hide {
    display: none !important;
}

typebot-standard {
    position: relative;
    z-index: 99;
}

#__next {
    position: relative;
    z-index: 99;
}

.user-bar {
    width: 100%;
    height: 70px;
    background: rgb(0, 94, 84);
    color: rgb(255, 255, 255);
    padding: 0px;
    font-size: 24px;
    position: absolute;
    z-index: 99999;
    display: block;
    top: 0px;
}

.user-bar::after {
    content: "";
    display: table;
    clear: both;
}

.user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    margin-left: 10px;
}

.user-bar .actions {
    float: right;
    margin: 0px 30px 0px 0px;
}

.user-bar .actions.more {
    margin: 0px 12px 0px 32px;
}

.user-bar .avatar {
    margin: 0px 0px 0px 5px;
    width: 36px;
    height: 36px;
}

.user-bar .avatar img {
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-bar .name {
    float: left;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0px 0px 0px 8px;
    overflow: hidden;
    white-space: nowrap;
}

.user-bar .status {
    display: block;
    left: 0px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
}

.typebot-input .typebot-button {
    content: "";
    background: rgb(0, 138, 134);
    position: relative;
    justify-content: center;
    width: 50px;
    height: 50px;
    right: -60px;
    border: none;
    font-size: 0px;
    color: transparent;
}

.typebot-input .typebot-button::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" width=\"19px\"><path d=\"M476.59 227.05l-.16-.07L49.35 49.84A23.56 23.56 0 0027.14 52 24.65 24.65 0 0016 72.59v113.29a24 24 0 0019.52 23.57l232.93 43.07a4 4 0 010 7.86L35.53 303.45A24 24 0 0016 327v113.31A23.57 23.57 0 0026.59 460a23.94 23.94 0 0013.22 4 24.55 24.55 0 009.52-1.93L476.4 285.94l.19-.09a32 32 0 000-58.8z\" fill=\"white\"/></svg>");
}

.typebot-input .typebot-button .send-icon {
    display: none;
}

.typebot-input {
    position: fixed;
    bottom: 10px;
    right: 55px;
    align-items: center;
    z-index: 9999;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: calc(100% - 60px) !important;
    max-width: calc(100% - 60px) !important;
}

.disabled\:opacity-50:disabled {
    opacity: 1;
}
